<div class="row-sisu">
  <div class="column-sisu">
    <%= image_tag "boy_yellow_jacket.jpg", alt: "Chameleon", width: 350 %>
  </div>
    <div class="column-sisu">
      <div class="form-sisu">
      <h2>Register</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn-sisu" %>
            </div>
<%= render "devise/shared/links" %>
          </div>
      </div>
            <% end %>
  </div>
</div>

